# OpenAI
OPENAI_API_KEY=

# Minecraft server
MINECRAFT_HOST=localhost
MINECRAFT_PORT=25565
MINECRAFT_AUTH=offline

# Bot names
CARTOGRAPHER_BOT_NAME=Maphew
BUILDER_BOT_NAME=Blocko
DIGGER_LEADER_BOT_NAME=CaptainCobble
DIGGER_WORKER_BOT_NAME=Doug
BLACKSMITH_BOT_NAME=AnvilAnnie
STOCKER_BOT_NAME=Chesterton
GATHERER_BOT_NAME=SpruceLee

# Local web app
PORT=3000
VITE_API_BASE_URL=http://localhost:3000
